# If you have aws installed:
# complete -C '/usr/local/bin/aws_completer' aws

#if [ -f /Library/Developer/CommandLineTools/usr/share/git-core/git-completion.bash ]; then
#    . /Library/Developer/CommandLineTools/usr/share/git-core/git-completion.bash
#fi

#source /Library/Developer/CommandLineTools/usr/share/git-core/git-prompt.sh


# add all bash completions

bcdir=/usr/local/etc/bash_completion.d

if [ -d ${bcdir} ]
then
  for bcfile in ${bcdir}/* ; do
    . $bcfile
  done
fi
