# If you have aws installed:
# complete -C '/usr/local/bin/aws_completer' aws

#if [ -f /Library/Developer/CommandLineTools/usr/share/git-core/git-completion.bash ]; then
#    . /Library/Developer/CommandLineTools/usr/share/git-core/git-completion.bash
#fi

#source /Library/Developer/CommandLineTools/usr/share/git-core/git-prompt.sh


# add all bash completions

bcdir=/usr/local/etc/bash_completion.d

if [ -d ${bcdir} ]
then
  for bcfile in ${bcdir}/* ; do
    . $bcfile
  done
fi

#PS1='[\u@\h \W$(__git_ps1 " (%s)")]\$ '
# This PS1 snippet was adopted from code for MAC/BSD I saw from: http://allancraig.net/index.php?option=com_content&view=article&id=108:ps1-export-command-for-git&catid=45:general&Itemid=96
# I tweaked it to work on UBUNTU 11.04 & 11.10 plus made it mo' better

export PS1=$IBlack$Time12h$Color_Off'$(git branch &>/dev/null;\
if [ $? -eq 0 ]; then \
  echo "$(echo `git status` | grep "nothing to commit" > /dev/null 2>&1; \
  if [ "$?" -eq "0" ]; then \
    # @4 - Clean repository - nothing to commit
    echo "'$Green'"$(__git_ps1 " (%s)"); \
  else \
    # @5 - Changes to working tree
    echo "'$IRed'"$(__git_ps1 " (%s)"); \
  fi) '$BYellow$PathShort$Color_Off'\$ "; \
else \
  # @2 - Prompt when not in GIT repo
  echo " '$Yellow$PathShort$Color_Off'\$ "; \
fi)'
